<ion-app>

  <ion-menu side="start" menuId="sideMenu">
    <ion-header>
      <ion-toolbar>
        <ion-icon style="position: relative; left: 10px;;"   name="home" slot="start" ></ion-icon>
        <ion-title> Mario's Store</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="sideMenu">
          <ion-item routerLink="/home">
            
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="sideMenu">
          <ion-item routerLink="home/admin">
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="sideMenu">
          <ion-item routerLink="home/about">
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-menu-toggle menu="sideMenu">
          <ion-item routerLink="/logout">
            <ion-label>Exit</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
