<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   <center> 
      <img style=" width: 350px;
      height: 350px;
      border-radius: 150%;
    " src="assets/images/profile.png"/>
   </center>
    <ion-card-content>
      <h1><b> Gerald Arrivaldo</b></h1><br>
      <h1><small> 00000020733 - CL</small></h1><br>
      <p> Saya mengerjakan melihat modul week , google dan saya tidak menggunakan library dari luar</p>
      
    </ion-card-content>
  </ion-card>
  <center><img src="assets/images/logo.png"/> </center>
</ion-content>