<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="toggleGridOrList()">
      <ion-button>
        <ion-icon name="grid" slot="end" [name]="GridOrList ? 'grid' : 'list'"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="GridOrList">

  <ion-card *ngFor="let produk of barang" [routerLink]="['./',produk.id]">
    <ion-card-content>
     <ion-list>
       <ion-item lines="none">
        <ion-thumbnail  slot="start">
          <ion-img [src]="produk.imageUrl[0]"></ion-img>
        </ion-thumbnail >
          <ion-label>
            <b>{{produk.nama}} {{produk.model}}</b><br>
            {{produk.harga | currency: 'Rp.':true:'2.0'}}<br>
            Available: {{produk.stock}}
        </ion-label>
       </ion-item>
     </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="!GridOrList">

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let produk of barang">
        <ion-card [routerLink]="['./',produk.id]" >
          <ion-card-content>
           <ion-list>
              <ion-thumbnail class="imgGrid" slot="start">
                <ion-img [src]="produk.imageUrl[0]"></ion-img>
              </ion-thumbnail >
                <ion-label>
                  <b>{{produk.nama}} {{produk.model}}</b><br>
                  {{produk.harga | currency: 'Rp.':true:'2.0'}}<br>
                  Available: {{produk.stock}}
              </ion-label>
           </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 

</ion-content>
